* {
  color: #583673;
  text-align: center;
  font-family: sans-serif;
  margin: auto;
}

.main {
  margin-top: 15px;
  padding: 10px;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  background-color: #ffffffa9;
}

.options {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btnOptions,
.btnOptionsSmall {
  margin-top: 40px;
  width: 200px;
  height: 150px;
  font-size: 1.3em;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  background-color: #583673;
  color: #ffffff;
  transition: 0.5s;
}

.btnOptions:hover,
.btnOptionsSmall:hover {
  background-color: #ffffff;
  border: 1px solid #583673;
  color: #583673;
  font-weight: bold;
  cursor: pointer;
}

.btnOptionsSmall {
  margin-top: 0;
  font-size: 1em;
  width: 150px;
  height: 45px;
}

.list {
  margin-top: 40px;
}

li {
  display: flex;
  text-align: left;
  align-items: center;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.questions {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

span {
  word-wrap: break-word;
  text-align: left;
  display: block;
  width: 90%;
  font-size: 1.3em;
  font-weight: bold;
}
.head {
  display: flex;
  margin-top: 35px;
}

.title {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.btnRemove {
  background-color: rgb(255, 147, 147);
  border: 0;
  padding: 6px;
  border-radius: 4px;
  color: black;
}

.btnRemove:active {
  box-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 1050px) {
  .options {
    flex-direction: column;
  }

  input {
    height: 60px;
  }

  .list li {
    text-align: center;
  }

  .head {
    flex-direction: column;
  }

  .title {
    margin-bottom: 10px;
    padding: 0px;
  }

  .btnOptionsSmall {
    margin-top: 10px;
  }

  span {
    width: 73%;
  }

  .questions {
    width: 90%;
  }
}
